<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ManejoFicherosDA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AccesoDA</servlet-name>
    <jsp-file>/AccesoDA.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccesoDA</servlet-name>
    <url-pattern>/AccesoDA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorDA</servlet-name>
    <jsp-file>/ErrorDA.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorDA</servlet-name>
    <url-pattern>/ErrorDA</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DatosAbiertosEJEMPLO</servlet-name>
    <jsp-file>/DatosAbiertosEJEMPLO.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatosAbiertosEJEMPLO</servlet-name>
    <url-pattern>/DatosAbiertosEJEMPLO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAccesoDA</display-name>
    <servlet-name>ServletAccesoDA</servlet-name>
    <servlet-class>interfaz.ServletAccesoDA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccesoDA</servlet-name>
    <url-pattern>/ServletAccesoDA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAcceso2</display-name>
    <servlet-name>ServletAcceso2</servlet-name>
    <servlet-class>interfaz.ServletAcceso2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAcceso2</servlet-name>
    <url-pattern>/ServletAcceso2</url-pattern>
  </servlet-mapping>
</web-app>